.big-banner{
     background-image: url(https://images.pexels.com/photos/2174656/pexels-photo-2174656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    }